<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ksoft.emojiconverter">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".AddDeleteActivity" />
        <activity android:name=".AddEmojiActivity" />
        <activity android:name=".DeleteEmojiActivity" />
        <activity
            android:name=".ConvertDialog"
            android:label="Quick Conversion"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />

        <receiver android:name=".QuickConvertWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.ksoft.emojiconverter.widgetdialogfinished" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_convert_widget_info" />
        </receiver>

    </application>

</manifest>